In [1]:
tuple1 = (10, 50, 20, 40, 30)

element1 = tuple1[0]  
element2 = tuple1[1] 

print("Element 1:", element1)
print("Element 2:", element2)

Element 1: 10
Element 2: 50

In [2]:
tuple1 = (10, 50, 20, 40, 30)

length = len(tuple1)

print("Length of tuple1:", length)

Length of tuple1: 5

In [3]:
tuple1 = (10, 50, 20, 40, 30)

min_element = min(tuple1)

print("Minimum element in tuple1:", min_element)

Minimum element in tuple1: 10

In [4]:
tuple1 = (10, 50, 20, 40, 30)

total_sum = 0

for element in tuple1:
    total_sum += element

print("Sum of elements in tuple1:", total_sum)

Sum of elements in tuple1: 150

In [5]:
tuple1 = (10, 50, 20, 40, 30)

print("First display:", tuple1)
print("Second display:", tuple1)
print("Third display:", tuple1)

First display: (10, 50, 20, 40, 30)
Second display: (10, 50, 20, 40, 30)
Third display: (10, 50, 20, 40, 30)

In [6]:
my_string = "Hello, World!"

length = len(my_string)

print("Length of the string:", length)

Length of the string: 13

In [7]:
# 5.2
my_string = "Hello, World!"

words = my_string.split()

reversed_words = words[::-1]

reversed_string = " ".join(reversed_words)

print("Reversed string:", reversed_string)

Reversed string: World! Hello,

In [8]:
# 5.3
my_string = "Hello, World!"

print(my_string)
print(my_string)
print(my_string)

Hello, World!
Hello, World!
Hello, World!

In [9]:
# 5.4
string1 = "Hello, "
string2 = "World!"

result = string1 + string2

print("Concatenated string:", result)

Concatenated string: Hello, World!

In [10]:
#5.5
str1 = "south india"

india_substring = str1[6:]

print(india_substring)

india

In [11]:
# 6.1
my_dict = {
    "name": "John",
    "age": 30,
    "city": "New York"
}

print(my_dict)

{'name': 'John', 'age': 30, 'city': 'New York'}

In [12]:
# 6.2
my_dict = {
    "name": "John",
    "age": 30,
    "city": "New York"
}

name = my_dict["name"]
age = my_dict["age"]
city = my_dict["city"]

print("Name:", name)
print("Age:", age)
print("City:", city)

keys = my_dict.keys()

print("Keys:", keys)

Name: John
Age: 30
City: New York
Keys: dict_keys(['name', 'age', 'city'])

In [13]:
# 6.3
my_dict = {
    "name": "John",
    "age": 30,
    "city": "New York"
}

def update_dict(input_dict):
    input_dict["country"] = "USA"
    
    input_dict["age"] = 31
    
    return input_dict

updated_dict = update_dict(my_dict)

print("Updated Dictionary:", updated_dict)

Updated Dictionary: {'name': 'John', 'age': 31, 'city': 'New York', 'country': 'USA'}

In [14]:
my_dict = {
    "name": "John",
    "age": 30,
    "city": "New York"
}

my_dict.clear()

print("Dictionary after clearing:", my_dict)

Dictionary after clearing: {}

In [15]:
#7
my_list = [1, 2, 3, 4, 5]

number_to_insert = 10

position = 2 

my_list.insert(position, number_to_insert)

print("Updated List:", my_list)

Updated List: [1, 2, 10, 3, 4, 5]

In [16]:
#8
my_list = [1, 2, 3, 4, 5]

index_to_delete = 2

del my_list[index_to_delete]

print("Updated List:", my_list)

Updated List: [1, 2, 4, 5]

In [17]:
# 9
for number in range(1, 101):
    print(number)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

In [18]:
# 10
my_tuple = (10, 20, 30, 40, 50)

total_sum = 0

for item in my_tuple:
    total_sum += item

print("Sum of all items in the tuple:", total_sum)

Sum of all items in the tuple: 150

In [19]:
# 11
math_functions = {
    'square': lambda x: x ** 2,
    'cube': lambda x: x ** 3,
    'square_root': lambda x: x ** 0.5
}

values = {
    'square': 4,
    'cube': 3,
    'square_root': 16
}

total_result = 0

for operation, value in values.items():
    result = math_functions[operation](value)
    total_result += result
    print(f"{operation} of {value} is {result}")

print(f"Sum of all results: {total_result}")

square of 4 is 16
cube of 3 is 27
square_root of 16 is 4.0
Sum of all results: 47.0

In [20]:
# 12
word_list = ['hello', 'Dear', 'how', 'are', 'you']

result_words = []

for word in word_list:
    if len(word) > 1 and word[1].isupper():
        result_words.append(word)

print("Words with the second character in uppercase:", result_words)

Words with the second character in uppercase: []

In [21]:
#12
word_list = ['hello', 'Dear', 'hOw', 'ARe', 'You']

result_words = []

for word in word_list:
    if len(word) > 1 and word[1].isupper():
        result_words.append(word)

print("Words with the second character in uppercase:", result_words)

Words with the second character in uppercase: ['hOw', 'ARe']

In [22]:
#control structure 1
def is_prime(num):
    if num <= 1:
        return False
    if num <= 3:
        return True
    if num % 2 == 0 or num % 3 == 0:
        return False
    i = 5
    while i * i <= num:
        if num % i == 0 or num % (i + 2) == 0:
            return False
        i += 6
    return True

def generate_primes(N):
    primes = []
    num = 2
    while len(primes) < N:
        if is_prime(num):
            primes.append(num)
        num += 1
    return primes

N = 10

prime_numbers = generate_primes(N)

print(f"The first {N} prime numbers are:")
for prime in prime_numbers:
    print(prime, end=" ")

The first 10 prime numbers are:
2 3 5 7 11 13 17 19 23 29

In [23]:
# 2
basic_salary = float(input("Enter Basic Salary: "))
hra = float(input("Enter HRA: "))
ta = float(input("Enter TA: "))
da = float(input("Enter DA: "))

gross_salary = basic_salary + hra + ta + da

tax = 0.10 * gross_salary

net_salary = gross_salary - tax

print("Gross Salary:", gross_salary)
print("Tax Deducted (10% of Gross Salary):", tax)
print("Net Salary (Gross Salary - Tax):", net_salary)

Enter Basic Salary: 20000
Enter HRA: 2000
Enter TA: 5000
Enter DA: 1200
Gross Salary: 28200.0
Tax Deducted (10% of Gross Salary): 2820.0
Net Salary (Gross Salary - Tax): 25380.0

In [24]:
# 3
my_list = ["apple", "banana", "cherry", "date", "fig"]

search_string = "cherry"

found = False

for item in my_list:
    if item == search_string:
        found = True
        break
if found:
    print(f"'{search_string}' is found in the list.")
else:
    print(f"'{search_string}' is not found in the list.")

'cherry' is found in the list.

In [25]:
#4
def count_upper_lower(string):
    upper_count = 0
    lower_count = 0

    for char in string:
        if char.isupper():
            upper_count += 1
        elif char.islower():
            lower_count += 1

    return upper_count, lower_count

input_string = "Hello World"
upper, lower = count_upper_lower(input_string)

print(f"Uppercase letters: {upper}")
print(f"Lowercase letters: {lower}")

Uppercase letters: 2
Lowercase letters: 8

In [26]:
#5
even_sum = 0
odd_sum = 0
for num in range(12, 38):
    if num % 2 == 0: 
        even_sum += num
    else: 
        odd_sum += num

# Display the sums
print("Sum of even numbers:", even_sum)
print("Sum of odd numbers:", odd_sum)

Sum of even numbers: 312
Sum of odd numbers: 325

In [27]:
# 6
num = int(input("Enter the number for the table: "))

start = 1
end = 10

print(f"Table of {num}:")
for i in range(start, end + 1):
    product = num * i
    print(f"{num} x {i} = {product}")

Enter the number for the table: 5
Table of 5:
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

In [28]:
#7
def is_prime(num):
    if num <= 1:
        return False
    if num <= 3:
        return True
    if num % 2 == 0 or num % 3 == 0:
        return False
    i = 5
    while i * i <= num:
        if num % i == 0 or num % (i + 2) == 0:
            return False
        i += 6
    return True

def sum_first_n_primes(n):
    primes = []
    num = 2
    while len(primes) < n:
        if is_prime(num):
            primes.append(num)
        num += 1
    return sum(primes)
n = 10
result = sum_first_n_primes(n)
print(f"The sum of the first {n} prime numbers is: {result}")

The sum of the first 10 prime numbers is: 129

In [29]:
#8
print("Select an operation:")
print("1. Addition")
print("2. Subtraction")
print("3. Multiplication")
print("4. Division")

choice = input("Enter choice (1/2/3/4): ")
choice = int(choice)

if choice in (1, 2, 3, 4):
    num1 = float(input("Enter first number: "))
    num2 = float(input("Enter second number: "))

    if choice == 1:
        result = num1 + num2
        operation = "Addition"
    elif choice == 2:
        result = num1 - num2
        operation = "Subtraction"
    elif choice == 3:
        result = num1 * num2
        operation = "Multiplication"
    else:
        if num2 != 0:
            result = num1 / num2
            operation = "Division"
        else:
            result = "Undefined (Division by zero)"
            operation = "Division"

    print(f"{operation} of {num1} and {num2} is: {result}")
else:
    print("Invalid choice. Please select a valid operation (1/2/3/4).")

Select an operation:
1. Addition
2. Subtraction
3. Multiplication
4. Division
Enter choice (1/2/3/4): 2
Enter first number: 12
Enter second number: 4
Subtraction of 12.0 and 4.0 is: 8.0

In [30]:
#9
celsius = float(input("Enter temperature in Celsius: "))

fahrenheit = (celsius * 9/5) + 32

print(f"{celsius} degrees Celsius is equal to {fahrenheit} degrees Fahrenheit")

Enter temperature in Celsius: 35
35.0 degrees Celsius is equal to 95.0 degrees Fahrenheit

In [31]:
# 10
my_list = [12, 45, 6, 78, 23, 56, 89, 2, 41]

max_value = my_list[0]  
min_value = my_list[0]  
for num in my_list:
    if num > max_value:
        max_value = num  
    if num < min_value:
        min_value = num  
print("Maximum Value:", max_value)
print("Minimum Value:", min_value)

Maximum Value: 89
Minimum Value: 2

In [32]:
# 11
days_in_month = 30

hours_per_day = 24
minutes_per_hour = 60
seconds_per_minute = 60

total_seconds = days_in_month * hours_per_day * minutes_per_hour * seconds_per_minute

print(f"Number of seconds in a {days_in_month}-day month: {total_seconds} seconds")

Number of seconds in a 30-day month: 2592000 seconds

In [33]:
#12
days_in_year = 365
hours_per_day = 24
minutes_per_hour = 60
seconds_per_minute = 60

total_seconds_non_leap = days_in_year * hours_per_day * minutes_per_hour * seconds_per_minute

leap_years = days_in_year // 4 - days_in_year // 100 + days_in_year // 400

total_seconds_leap = (days_in_year + 1) * hours_per_day * minutes_per_hour * seconds_per_minute

total_seconds_in_year = total_seconds_non_leap + leap_years * total_seconds_leap

print(f"Number of seconds in a year: {total_seconds_in_year} seconds")

Number of seconds in a year: 2814307200 seconds

In [34]:
# 13
distance_miles = 414  
speed_mph = 150       

time_hours = distance_miles / speed_mph

print(f"It will take {time_hours:.2f} hours to travel from London to Glasgow.")

It will take 2.76 hours to travel from London to Glasgow.

In [35]:
#14
days_in_each_school_year = 192

school_years = ["Year 7", "Year 8", "Year 9", "Year 10", "Year 11"]

total_hours = 0

for year in school_years:
    total_hours += days_in_each_school_year * 6

print(f"Total hours spent in school from Year 7 to Year 11: {total_hours} hours")

Total hours spent in school from Year 7 to Year 11: 5760 hours

In [36]:
#15
ram_age = int(input("Enter Ram's age: "))
sam_age = int(input("Enter Sam's age: "))
khan_age = int(input("Enter Khan's age: "))

eldest = max(ram_age, sam_age, khan_age)
youngest = min(ram_age, sam_age, khan_age)

if eldest == ram_age:
    eldest_name = "Ram"
elif eldest == sam_age:
    eldest_name = "Sam"
else:
    eldest_name = "Khan"

if youngest == ram_age:
    youngest_name = "Ram"
elif youngest == sam_age:
    youngest_name = "Sam"
else:
    youngest_name = "Khan"

print(f"The eldest among Ram, Sam, and Khan is {eldest_name} with age {eldest} years.")
print(f"The youngest among Ram, Sam, and Khan is {youngest_name} with age {youngest} years.")

Enter Ram's age: 12
Enter Sam's age: 16
Enter Khan's age: 18
The eldest among Ram, Sam, and Khan is Khan with age 18 years.
The youngest among Ram, Sam, and Khan is Ram with age 12 years.

In [37]:
#16
def rotate_list_right_slicing(lst, n):
    n = n % len(lst)
    rotated_list = lst[-n:] + lst[:-n]
    return rotated_list

my_list = [1, 2, 3, 4, 5]

n = 2
rotated_list = rotate_list_right_slicing(my_list, n)
print("Rotated list (using slicing):", rotated_list)

Rotated list (using slicing): [4, 5, 1, 2, 3]